<div class="background-elements">
    <div class="row">
        <div class="d-flex justify-content-center col">
            <app-mat-select label="Users" objField="email" [list]="userList" (emitter)="setUser($event)">
            </app-mat-select>
        </div>
        <div class="d-flex justify-content-center col">
            <app-mat-select label="Auths" objField="name" [list]="authList" (emitter)="setAuth($event)">
            </app-mat-select>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col d-flex justify-content-center">
            <app-button btnType="primary" btnText="Update Permissions" (click)="updatePermission()"
                [disabledCondition]="selectedUser == undefined || selectedAuth == undefined">
            </app-button>
        </div>
    </div>
</div>