<div class="background-elements">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <h1>Change Password</h1>
        </div>
    </div>
    <div class="row">
        <div class="col d-felx justify-content-center">
            <div class="input-group mb-3">
                <button (click)="changeOPVisibility()" class="btn btn-outline-secondary" type="button"
                    id="button-addon1">Show Password</button>
                <input [type]="isOldPasswordVisible? 'text': 'password'" class="form-control" placeholder="Old Password"
                    aria-label="Example text with button addon" aria-describedby="button-addon1"
                    [(ngModel)]="oldPassword">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col d-felx justify-content-center">
            <div class="input-group mb-3">
                <button (click)="changeNPVisibility()" class="btn btn-outline-secondary" type="button"
                    id="button-addon1">Show Password</button>
                <input [type]="isNewPasswordVisible? 'text': 'password'" class="form-control" placeholder="New Password"
                    aria-label="Example text with button addon" aria-describedby="button-addon1"
                    [(ngModel)]="newPassword">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col d-felx justify-content-center">
            <div class="input-group mb-3">
                <button (click)="changeRPVisibility()" class="btn btn-outline-secondary" type="button"
                    id="button-addon1">Show Password</button>
                <input [type]="isRepeatPasswordVisible ? 'text' : 'password'" class="
                    form-control" placeholder="Repeat Password" aria-label="Example text with button addon"
                    aria-describedby="button-addon1" [(ngModel)]="repeatPassword">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col d-flex justify-content-center">
            <app-button btnType="primary" btnText="save" (click)="save()" [disabledCondition]="!isFormSubmittable()">
            </app-button>
        </div>
    </div>
</div>