<div class="background-elements">

    <span class="card mb-5" *ngFor="let c of deletedTaskList">
        <div class="row row-height">
            <div class="col-3 d-flex justify-content-center">
                List: {{c.category}}
            </div>
            <div class="col-3 d-flex justify-content-center">
                Task Name: {{c.taskName}}
            </div>
            <div class="col-3 d-flex justify-content-center">
                Project Name: {{c.projectName}}
            </div>
            <div class="col-3 d-flex justify-content-center">
                User Assigned: {{c.userAssigned}}
            </div>

        </div>
    </span>



</div>