<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">GitBoard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" (click)="navigateTo('home')">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Reserved Area
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <span *ngIf="!isUserLogged()">
                            <li><a class="dropdown-item" (click)="navigateTo('login')">Login</a></li>
                            <li><a class="dropdown-item" (click)="navigateTo('signup')">Sign Up</a></li>
                        </span>
                        

                        <span *ngIf="isUserLogged()">
                            <li><a class="dropdown-item" (click)="navigateTo('projects')">Projects</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" (click)="navigateTo('control-panel')">Control Panel</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
                        </span>    
                        
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>