<div class="background-elements">

    <div class="row">
        <div class="col d-flex justify-content-center">
            <h1>Assign admin to company</h1>
        </div>
    </div>

    <div class="row mt-5 justify-content-center">
        <div class="col-6 d-flex justify-content-center">
            <mat-form-field appearance="fill">
                <mat-label>Select a company to edit or delete</mat-label>
                <mat-select [(ngModel)]="companySelected">
                    <mat-option *ngFor="let company of companyList" [value]="company">
                        {{company.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-6 d-flex justify-content-center" *ngIf="companySelected" (click)="getAllAdminsByCompany()">
            <mat-form-field appearance="fill" disabled="true">
                <mat-label>Admins</mat-label>
                <mat-select>
                    <mat-option *ngFor="let admin of companyAdminList">
                        {{admin.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="row mt-3 justify-content-center" *ngIf="companySelected">
        <div class="col-6 d-flex justify-content-center" (click)="getAllAdminsNotInCompany()">
            <mat-form-field appearance="fill">
                <mat-label>Select a company to edit or delete</mat-label>
                <mat-select [(ngModel)]="adminNotInCompany">
                    <mat-option *ngFor="let a of adminsNotInCompany" [value]="a">
                        {{a.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col  justify-content-center">
            <app-button btnType="primary" btnText="save" (click)="updateCompanyAdmin()" [disabledCondition]="false"></app-button>
<!--             
            <button class="btn btn-primary" (click)="updateCompanyAdmin()">
                UPDATE
            </button> -->
        </div>
    </div>

</div>