<div class="background-elements">

    <div class="row">
        <div class="col d-flex justify-content-center">
            <h1>Assign admin to company</h1>
        </div>
    </div>

    <div class="row mt-5 justify-content-center">
        <div class="col-6 d-flex justify-content-center">
            <app-mat-select label="Company" objField="name" [list]="companyList" (emitter)="setCompany($event)">
            </app-mat-select>
        </div>
        <div class="col-6 d-flex justify-content-center" (click)="getAllAdminsByCompany()">
            <app-mat-select label="Company admins" objField="name" [list]="companyAdminList">
            </app-mat-select>
        </div>
    </div>

    <div class="row mt-3 justify-content-center">
        <div class="col-6 d-flex justify-content-center" (click)="getAllAdminsNotInCompany()">
            <app-mat-select label="Select an admin to add to the company" objField="name" [list]="adminsNotInCompany"
                (emitter)="setAdmin($event)">
            </app-mat-select>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col  justify-content-center">
            <app-button btnType="primary" btnText="save" (click)="updateCompanyAdmin()" [disabledCondition]="false">
            </app-button>
        </div>
    </div>

</div>