<!--assign to list-->
<!--TODO REFACTOR-->
<div class="row">
    <div class="col d-flex justify-content-center">
        <app-mat-select label="task" objField="taskName" [list]="taskList" (emitter)="setTaskSelected($event)"></app-mat-select>
<!-- 
        <mat-form-field appearance="fill">
            <mat-label>task</mat-label>
            <mat-select [(ngModel)]="taskSelected">
                <mat-option *ngFor="let task of taskList" [value]="task">
                    {{task.taskName}}
                </mat-option>
            </mat-select>
        </mat-form-field> -->
    </div>
    <div class="col d-flex justify-content-center">

        <app-mat-select label="category" objField="description" [list]="categoryList" (emitter)="setCategorySelected($event)"></app-mat-select>

        <!-- <mat-form-field appearance="fill">
            <mat-label>category</mat-label>
            <mat-select [(ngModel)]="catSelected">
                <mat-option *ngFor="let c of categoryList" [value]="c.description">
                    {{c.description}}
                </mat-option>
            </mat-select>
        </mat-form-field> -->
    </div>
</div>

<app-result-message *ngIf="isCallDone" [alertType]="aType" [message]="mex"></app-result-message>

<hr>

<div class="row">
    <div class="col d-flex justify-content-center">
        <div class="col d-flex justify-content-center">
        <app-button btnType="primary" btnText="add task to list" (click)="addTaskToList()" [disabledCondition]=false></app-button>
            
        </div>
    </div>
    <div class="col d-flex justify-content-center">
        <div class="col d-flex justify-content-center">
        <app-button btnType="danger" btnText="delete selected task" (click)="delete()" [disabledCondition]="false"></app-button>
        </div>
    </div>

</div>