<div class="container">

    <div class="row mt-5">
        <div class="col d-flex justify-content-center">
            <h1>This is Admin Control Panel</h1>
        </div>
    </div>
    <div *ngIf="!isMenuVisible" class="row justify-content-start mt-5 mb-2">
        <div class="col">
            <button class="btn btn-secondary" (click)="showMenu()">
                Back
            </button>
        </div>
    </div>

    <span *ngIf="isMenuVisible">
        <div class="row button-container justify-content-center mt-5">
            <div class="col-4 d-flex justify-content-center">
                <button class="btn btn-primary" (click)="showDiv('createCompany')">
                    Create Company
                </button>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <button class="btn btn-primary" (click)="showDiv('edit')">
                    Edit Company
                </button>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <button class="btn btn-primary" (click)="showDiv('createTask')">
                    Create Task
                </button>
            </div>
        </div>
        <div class="row button-container justify-content-center mt-5">
            <div class="col-4 d-flex justify-content-center">
                <button class="btn btn-primary" (click)="showDiv('createBoard')">
                    Create Board
                </button>
            </div>
            <div class="col-4 d-flex justify-content-center">
                
            </div>
            <div class="col-4 d-flex justify-content-center">
                
            </div>
        </div>
    </span>
    


    <div *ngIf="!isMenuVisible">
        <div *ngIf="isCreateCompanyVisible">
            <app-create-company></app-create-company>
        </div>
        <div *ngIf="isEditVisible">
            <app-edit-company></app-edit-company>
        </div>

        <div *ngIf="isCreateTaskVisible">
            <app-create-task></app-create-task>
        </div>
        <div *ngIf="isCreateBoardVisible">
            <app-create-board></app-create-board>
        </div>
    </div>

    

</div>