<div class="container">

    <div class="row mt-5">
        <div class="col d-flex justify-content-center">
            <h1>This is Admin Control Panel</h1>
        </div>
    </div>
    <div *ngIf="!isMenuVisible" class="row justify-content-start mt-5 mb-2">
        <div class="col">
            <button class="btn btn-secondary" (click)="showMenu()">
                Back
            </button>
        </div>
    </div>

    <span *ngIf="isMenuVisible">
        <div class="row">
            <div *ngFor="let d of divsArray" class="col-4 d-flex justify-content-center mt-5">
                <button class="btn btn-primary" (click)="showDiv(d.divName)">
                    {{d.title}}
                </button>
            </div>
        </div>
    </span>


    <div class="row mt-5 mb-5">
        <div class="div d-flex justify-content-center">
            <a href="todo-clone">todo clone</a>
        </div>
    </div>

    <div *ngIf="!isMenuVisible">
        <div [ngSwitch]="true">
            <app-create-company *ngSwitchCase="divVisibilityArray[0]"></app-create-company>
            <app-edit-company *ngSwitchCase="divVisibilityArray[1]"></app-edit-company>
            <app-create-task *ngSwitchCase="divVisibilityArray[2]"></app-create-task>
            <app-create-board *ngSwitchCase="divVisibilityArray[3]"></app-create-board>
            <app-add-task-to-board *ngSwitchCase="divVisibilityArray[4]"></app-add-task-to-board>
            <app-create-company-admin *ngSwitchCase="divVisibilityArray[5]"></app-create-company-admin>
            <app-assign-user-to-project *ngSwitchCase="divVisibilityArray[6]"></app-assign-user-to-project>
            <app-create-user *ngSwitchCase="divVisibilityArray[7]"></app-create-user>
        </div>
    </div>



</div>