<div class="row">

    <div class="col" *ngFor="let c of categoryList">
        <div class="row">
            <h1>{{c.description}}</h1>
        </div>
        <div class="row">
            <!-- {{dragDropDTO[CATEGORIA].list[TASK].taskName | json}} [c.id].list -->
            <!-- {{taskList[c.id].taskDTOList | json}} -->
            <div *ngIf="taskList && categoryList" cdkDropList [cdkDropListData]="taskList[c.id].taskDTOList" class="example-list" (cdkDropListDropped)="drop($event, c.id)">
                <div class="example-box" *ngFor="let item of taskList[c.id].taskDTOList" cdkDrag>{{item.taskName}}</div>
            </div>
        </div>
    </div>
    

</div>