<div class="row">

    <div class="col" *ngFor="let c of categoryList">
        <div class="row text-center">
            <h1>{{c.description}}</h1>
        </div>
        <div class="row">
            <!-- {{dragDropDTO[CATEGORIA].list[TASK].taskName | json}} [c.id].list -->
            <!--workaround con i c.id perchè per qualche motivo facendo la insert gli id categoria partono da 1 *spallucce*-->
            <div *ngIf="taskList && categoryList" cdkDropList [cdkDropListData]="taskList[c.id-1].taskListDTOList" class="example-list" (cdkDropListDropped)="drop($event, c.id)">
                <div class="example-box" *ngFor="let item of taskList[c.id-1].taskListDTOList" cdkDrag>{{item.taskName}}</div>
            </div>
        </div>
    </div>
    

</div>