<div class="background-elements">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <h1>Assign task to project</h1>
        </div>
    </div>


    <!-- assegna task list a project. -->
  
        <div class="row mt-5 justify-content-center">
            <div class="col-6 d-flex justify-content-center">
                <mat-form-field appearance="fill">
                    <mat-label>Projects</mat-label>
                    <mat-select [(ngModel)]="project">
                        <mat-option *ngFor="let p of projectList" [value]="p">
                            {{p.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row mt-5"  *ngIf="isProjectListEmpty">
            <div class="col d-flex justify-content-center">
                <div class="alert alert-danger" role="alert">
                    No Available Projects
                </div>
            </div>
        </div>
        <hr>
        <div class="row mt-3">
            <div class="col d-flex justify-content-center">
                <mat-form-field appearance="fill">
                    <mat-label>Select Category</mat-label>
                    <mat-select [(ngModel)]="category">
                        <mat-option *ngFor="let cat of categoryList" [value]="cat">
                            {{cat.description}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col d-flex justify-content-center">
                <mat-form-field appearance="fill">
                    <mat-label>Select task</mat-label>
                    <mat-select [(ngModel)]="task">
                        <mat-option *ngFor="let t of tasks" [value]="t">
                            {{t.description}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col d-flex justify-content-center">
                <mat-form-field appearance="fill">
                    <mat-label>Select a user</mat-label>
                    <mat-select [(ngModel)]="user">
                        <mat-option *ngFor="let u of userList" [value]="u">
                            {{u.firstName}} {{u.lastName}} - {{u.email}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <!--users-->
        
    <div class="row mt-5">
        <div class="col d-flex justify-content-center">
            <div class="alert alert-success" role="alert" *ngIf="isBoardUpdated !== 0 && isBoardUpdated === 1">
                {{message}}
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="isBoardUpdated !== 0 && isBoardUpdated === 2">
                {{message}}
            </div>
        </div>
    </div>
 

    <div class="row mt-5">
        <div class="col d-flex justify-content-center">
            <button class="btn btn-primary" (click)="submitForm()" [disabled]="!isFormValid()">
                SAVE
            </button>
        </div>
    </div>

</div>